USER-AGENT,*com.apple.mobileme.fmip1,DIRECT
USER-AGENT,*WeatherFoundation*,DIRECT
USER-AGENT,%E5%9C%B0%E5%9B%BE*,DIRECT
USER-AGENT,%E8%AE%BE%E7%BD%AE*,DIRECT
USER-AGENT,com.apple.geod*,DIRECT
USER-AGENT,com.apple.Maps,DIRECT
USER-AGENT,FindMyFriends*,DIRECT
USER-AGENT,FindMyiPhone*,DIRECT
USER-AGENT,FMDClient*,DIRECT
USER-AGENT,FMFD*,DIRECT
USER-AGENT,fmflocatord*,DIRECT
USER-AGENT,geod*,DIRECT
USER-AGENT,locationd*,DIRECT
USER-AGENT,Maps*,DIRECT
HOST,apps.apple.com,APPLE,resolve-on-proxy
HOST,xp.apple.com,APPLE,resolve-on-proxy
HOST,bag.itunes.apple.com,APPLE,resolve-on-proxy
HOST,api-edge.apps.apple.com,APPLE,resolve-on-proxy
HOST,api.apps.apple.com,APPLE,resolve-on-proxy
HOST,play.itunes.apple.com,APPLE,resolve-on-proxy
HOST,se.itunes.apple.com,APPLE,resolve-on-proxy
HOST,se-edge.itunes.apple.com,APPLE,resolve-on-proxy
HOST,su.itunes.apple.com,APPLE,resolve-on-proxy
HOST,upp.itunes.apple.com,APPLE,resolve-on-proxy
HOST,beta.music.apple.com,APPLE,resolve-on-proxy
HOST-KEYWORD,buy.itunes.apple.com,APPLE,resolve-on-proxy
HOST,iosapps.itunes.apple.com,DIRECT
HOST,osxapps.itunes.apple.com,DIRECT
HOST,supportdownload.apple.com,DIRECT
HOST,appldnld.apple.com,DIRECT
HOST,swcdn.apple.com,DIRECT
HOST,apptrailers.itunes.apple.com,DIRECT
HOST,updates-http.cdn-apple.com,DIRECT
HOST-SUFFIX,mzstatic.com,DIRECT
USER-AGENT,com.apple.appstored*,DIRECT
HOST-SUFFIX,hls.itunes.apple.com,PROXY,resolve-on-proxy
HOST-SUFFIX,hls-amt.itunes.apple.com,PROXY,resolve-on-proxy
HOST-SUFFIX,audio-ssl.itunes.apple.com,PROXY,resolve-on-proxy
HOST-SUFFIX,cdn-apple.com,PROXY,resolve-on-proxy
HOST,cdn.apple-cloudkit.com,PROXY,resolve-on-proxy
HOST,devimages-cdn.apple.com,PROXY,resolve-on-proxy
HOST,devstreaming-cdn.apple.com,PROXY,resolve-on-proxy
HOST,js-cdn.music.apple.com,PROXY,resolve-on-proxy
HOST,docs-assets.developer.apple.com,PROXY,resolve-on-proxy

USER-AGENT,AppleNews*,APPLE
HOST-SUFFIX,apple.news,APPLE,resolve-on-proxy
HOST,news-events.apple.com,APPLE,resolve-on-proxy
HOST,news-edge.apple.com,APPLE,resolve-on-proxy
HOST,apple.comscoreresearch.com,APPLE,resolve-on-proxy
HOST,api.smoot.apple.com,DIRECT
HOST,captive.apple.com,DIRECT
HOST,configuration.apple.com,DIRECT
HOST,guzzoni.apple.com,DIRECT
HOST,smp-device-content.apple.com,DIRECT
HOST,aod.itunes.apple.com,DIRECT
HOST,api.smoot.apple.cn,DIRECT
HOST,gs-loc.apple.com,DIRECT
HOST,mvod.itunes.apple.com,DIRECT
HOST,streamingaudio.itunes.apple.com,DIRECT
HOST,reserve-prime.apple.com,DIRECT
HOST-SUFFIX,ess.apple.com,DIRECT
HOST-SUFFIX,push-apple.com.akadns.net,DIRECT
HOST-SUFFIX,push.apple.com,DIRECT
HOST-SUFFIX,music.apple.com,DIRECT
HOST-SUFFIX,ls.apple.com,DIRECT
HOST-SUFFIX,lcdn-locator.apple.com,DIRECT
HOST-SUFFIX,lcdn-registration.apple.com,DIRECT
HOST-KEYWORD,smp-device,DIRECT
USER-AGENT,passd*,DIRECT
USER-AGENT,Wallet*,DIRECT
HOST-SUFFIX,aaplimg.com,APPLE,resolve-on-proxy
HOST-SUFFIX,apple.co,APPLE,resolve-on-proxy
HOST-SUFFIX,itunes.com,APPLE,resolve-on-proxy
HOST-SUFFIX,itunes.apple.com,APPLE,resolve-on-proxy
HOST-SUFFIX,icloud-content.com,APPLE,resolve-on-proxy
HOST-SUFFIX,me.com,APPLE,resolve-on-proxy
HOST-SUFFIX,apple.com,APPLE,resolve-on-proxy
HOST-SUFFIX,icloud.com,APPLE,resolve-on-proxy
HOST-SUFFIX,apple-cloudkit.com,APPLE,resolve-on-proxy
USER-AGENT,Qobuz*,APPLE
HOST-KEYWORD,rateyourmusic,APPLE,resolve-on-proxy
HOST-SUFFIX,t.me,TG,resolve-on-proxy
HOST-SUFFIX,tdesktop.com,TG,resolve-on-proxy
HOST-SUFFIX,telegra.ph,TG,resolve-on-proxy
HOST-SUFFIX,telegram.me,TG,resolve-on-proxy
HOST-SUFFIX,telegram.org,TG,resolve-on-proxy
IP-CIDR,91.108.4.0/22,TG,no-resolve
IP-CIDR,91.108.8.0/22,TG,no-resolve
IP-CIDR,91.108.12.0/22,TG,NFno-resolve
IP-CIDR,91.108.16.0/22,TG,no-resolve
IP-CIDR,91.108.56.0/22,TG,no-resolve
IP-CIDR,149.154.160.0/20,TG,no-resolve
GEOIP,US,APPLE
USER-AGENT,Argo*,NF
HOST-SUFFIX,netflix.com,NF,resolve-on-proxy
HOST-SUFFIX,netflix.net,NF,resolve-on-proxy
HOST-SUFFIX,nflxext.com,NF,resolve-on-proxy
HOST-SUFFIX,nflximg.com,NF,resolve-on-proxy
HOST-SUFFIX,nflximg.net,NF,resolve-on-proxy
HOST-SUFFIX,nflxso.net,NF,resolve-on-proxy
HOST-SUFFIX,nflxvideo.net,NF,resolve-on-proxy
USER-AGENT,TIDAL*,APPLE
HOST-SUFFIX,tidal.com,PROXY,resolve-on-proxy
USER-AGENT,Spotify*,PROXY,resolve-on-proxy
HOST-SUFFIX,pscdn.co,PROXY,resolve-on-proxy
HOST-SUFFIX,scdn.co,PROXY,resolve-on-proxy
HOST-SUFFIX,spotify.com,PROXY,resolve-on-proxy
HOST-SUFFIX,spoti.fi,PROXY,resolve-on-proxy
HOST-KEYWORD,spotify.com,PROXY,resolve-on-proxy
HOST-KEYWORD,-spotify-com,PROXY,resolve-on-proxy
HOST-SUFFIX,googleapis.com,PROXY,resolve-on-proxy
HOST-SUFFIX,instagram.com,PROXY,resolve-on-proxy
HOST-SUFFIX,cdninstagram.com,PROXY,resolve-on-proxy
HOST-SUFFIX,fbcdn.net,PROXY,resolve-on-proxy
HOST-SUFFIX,facebook.com,PROXY,resolve-on-proxy
HOST-SUFFIX,fb.com,PROXY,resolve-on-proxy
HOST-SUFFIX,twitch.tv,PROXY,resolve-on-proxy
HOST-SUFFIX,gstatic.com,PROXY,resolve-on-proxy
HOST-KEYWORD,google,PROXY,resolve-on-proxy
IP-CIDR,10.0.0.0/8,DIRECT,no-resolve
IP-CIDR,127.0.0.0/8,DIRECT,no-resolve
IP-CIDR,172.16.0.0/12,DIRECT,no-resolve
IP-CIDR,192.168.0.0/16,DIRECT,no-resolve
GEOIP,CN,DIRECT
FINAL,PROXY
